// Styles for search block
.nav-tools__search-block_click {
  position: fixed;
  opacity: 0;
  top: 0px;
  left: 0;
  transform: translateY(-500px);
  margin-top: 99px;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  background: rgba(30, 30, 30, 0.98);
  z-index: 1;
  transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out;

  .search-block_click-container {
    max-width: 1160px;
    width: 100%;
    padding-top: 10px;

    .search-block-line {
      position: relative;     
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 30px;
      margin: 0px auto 30px;
      max-width: 90%;
      input[type="submit"] {
        display: none;
      }
      input[type="text"] {
        max-width: 100%;
        width: 100%;
        padding: 10px 50px 10px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        border-radius: 0px;
        font-size: 16px;
        color: white;

        &::placeholder {
          color: #efc066;
          font-family: "Montserrat", sans-serif;

          @media (min-width: $desktop) {
            font-size: 24px;
          }
        }
      }
      button {
        position: absolute;
        right: 0;
        bottom: 18px;

        &:hover {
          cursor: pointer;
        }
      }
      @media (min-width: $desktop) {
        max-height: 50%;
        height: 100%;
        margin-bottom: 0;
        max-width: 100%;
        width: 90%;
      }
    }
    .search-block-links {
      display: flex;
      flex-direction: column;
      align-items: center;  
      justify-content: center;
      margin-bottom: 20px;

      div {
        &:first-child {
          margin-bottom: 30px;
          span {
            font-size: 20px;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
          }
        }
        &:last-child {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          a {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            margin: 10px 20px;
            opacity: 0.69;
            color: #dedede;
            text-decoration: underline;
            &:first-child {
              @media (min-width: $desktop) {
                margin-left: 0px;
              }
            }
            &:last-child {
              margin-right: 0px;
            }

            @media (min-width: $desktop) {
              margin: 15px 20px;
            }
          }
          @media (min-width: $desktop) {
            flex-direction: row;
            text-align: initial;            
          }
        }
      }
      @media (min-width: $desktop) {
        max-height: 50%;
        height: 100%;
        padding-top: 0;
        margin-bottom: 0;
      }
    }
  }
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    max-height: 500px;
    height: 500px;
  }
}
// end of styles for search block

// styles for search button in header
.nav-tools__search-block_click-show {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  
}
// end of styles for search button in header

// styles for menu that appears after click on burger-btn
.burger-menu__block {
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
  height: 100%;
  min-height: 600px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;  
  background: rgba(30, 30, 30, 0.98);
  z-index: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow: auto;

  .burger-menu__container {
    margin-top: 120px;
    max-width: 1160px;
    width: 100%; 
    // height: fit-content;
    display: block;   
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;


  @media (min-width: $desktop) {

    display: flex;   


  }
   

    .burger-menu__lists {
      display: flex;
      flex-wrap: wrap;
      max-width: 870px;      
      height: fit-content;
      margin: 0 auto;

      .burger-menu__lists-item {       
        display: flex;
        flex-direction: column;    
        margin-bottom: 25px; 

        li {
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          margin: 10px 0px;
          text-align: center;
          &:first-child {
            font-size: 16px;
            margin-bottom: 15px;
          }
          &:hover {
            a {
              color: #d0d0d0;
            }
          }
          @media (min-width: $desktop) {
            text-align: initial;
            font-size: 12px;
          }
        }

        &:first-child {
          li {
            &:first-child {
              a {
                color:#ed5152;
              }
            }
          }
        }
        &:nth-child(2) {
          li {
            &:first-child {
              a {
                color:#efc066 ;
              }
            }
          }
        }
        &:nth-child(3) {
          li {
            &:first-child {
              a {
                color:#38bb8a;
              }
            }
          }
        }
        &:nth-child(4) {
          li {
            &:first-child {
              a {
                color:#8c8ce5;
              }
            }
          }
        }
        &:nth-child(5) {
          li {
            &:first-child {
              a {
                color:#2863a7;
              }
            }
          }
        }
        &:last-child{
          li {
            &:first-child {
              a {
                color:#3fb6c9;
              }
            }
          }
        }
        @media (min-width: $desktop) {
          margin-bottom: 0;
        }
      }     
      @media (min-width: $desktop) {
        height: 100%;
        padding-left: 20px;
      }
    }
    .burger-menu__right-block{      
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .burger-menu__right-block-top_list {
        // max-width: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        // max-height: 100px;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        margin-bottom: 30px;
        position: relative;

        &:after{
          content: '';
          max-width: 250px;
          position: absolute;
          background: rgba(255, 255, 255, 0.2);
          height: 1px;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
        }

        li {
          margin: 10px 0;
          color: #ffffff;
          &:first-child {
            color: #ffffff;
          }
          a {
            font-size: 16px;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;

            &:hover {
              color: #d0d0d0;
            }
          }
        }
        @media(min-width: $desktop) {
          text-align: initial;
          margin-bottom: 0;
        }
      }
      .burger-menu__right-block-bottom_list {       
        display: flex;
        flex-direction: column;
        max-width: 290px;
        width: 100%;
        max-height: 50%;
        height: 100%;
        text-align: center;

        span {
          font-size: 14px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          color: #ffffff;
          opacity: 0.7;
          margin-bottom: 20px;
          &:first-child {
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            color: #ffffff;
            margin-top: 10px;
          }
          &:nth-child(2) {
            font-size: 14px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
            opacity: 0.7;
          }
        }

        ul {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          li {
            &:nth-child(2) {
              margin: 0 15px;
            }

            &.bottom_list__icons{
              transition: transform 0.3s;
              &:hover{
                transform: scale(1.2);                
                transition: transform 0.3s;
              }
            }
          }
          &.lang {
            display: flex;
            flex-direction: row;
            max-height: 20px;
            margin: 20px 0px;
            li {
              font-family: "Montserrat", sans-serif;
              font-size: 16px;
              font-weight: 500;
              a {
                color: #ffffff;
                transition: opacity 0.3s ease;

                &:hover {
                  opacity: 0.5;
                  transition: opacity 0.3s ease;
                }
              }
              &.current-lang {
                a {
                  color: #efc066;

                  &:hover{
                    opacity: 1;
                  }
                }
              }
            }
            .change {
              margin: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .right-arrow {
                height: 2px;
                width: 14px;
                background-color: #494546;
                position: relative;
                display: block;
                margin: 0px 0px 5px 0px;

                &:before {
                  content: "";
                  background-color: #494546;
                  height: 6px;
                  width: 2px;
                  position: absolute;
                  top: -1px;
                  right: 0;
                  transform: rotate(45deg);
                }
                &:after {
                  content: "";
                  background-color: #494546;
                  height: 6px;
                  width: 2px;
                  position: absolute;
                  top: -4px;
                  right: 0;
                  transform: rotate(135deg);
                }
              }
              .left-arrow {
                height: 2px;
                width: 14px;
                background-color: #494546;
                position: relative;
                display: block;
                margin: 0;

                &:before {
                  content: "";
                  background-color: #494546;
                  height: 6px;
                  width: 2px;
                  position: absolute;
                  top: -1px;
                  left: 0;
                  transform: rotate(135deg);
                }
                &:after {
                  content: "";
                  background-color: #494546;
                  height: 6px;
                  width: 2px;
                  position: absolute;
                  top: -4px;
                  left: 0;
                  transform: rotate(45deg);
                }
              }
            }
            @media (min-width: $desktop) {
              margin: 0 0 20px 0;
            }
          }
          @media (min-width: $desktop) {
            justify-content: initial;
          }
        }
        @media (min-width: $desktop) {
          text-align: initial;
          padding-right: 20px;
          padding-top: 30px;
        }
      }
      @media (min-width: $desktop) {
        max-width: 290px;
        justify-content: space-between;
        align-items: initial;
        padding-left: 50px;
      }
    }
    @media (min-width: $desktop) {
      flex-direction: row;
      justify-content: center;
      height: 100%;
      margin-top: 150px;
      align-items: initial;
    }
  }

  &.burger-menu__block-show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0.4s ease;
  }

  @media (min-width: $desktop) {
    height: 100vh;
    overflow: initial;
    justify-content: center;
  }
}
// end of styles for menu that appears after click on burger-btn

// Styles for categories with different colors
.slider-nav__block-top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  span{
    color: #ffffff;
    &.nav__block-top__category{                 
      border-radius: 4px;
      display: flex;                
      flex-direction: column;  
      justify-content: center;                  
      max-width: fit-content;
      padding: 5px 15px;
      font-size: 10px;
      max-height: 40px;
      min-height: 25px;
      margin: auto 0;
      text-align: center;
      font-family: "Montserrat", sans-serif;                  

      // @media(min-width: $desktop) and (max-width: 1440px) {
      //   font-size: 10px;
      // }  

      @media(min-width: 1440px) {
        font-size: 14px;
        min-height: 35px;
      }
    }
    &.nav__block-top__single-categ{
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;                  
      font-size: 10px;
      font-weight: bold;
      padding: 7px 0;
      display: flex;
      justify-content: center;
      margin-left: 25px;
      flex-direction: column;

      i{
        content: "";
        position: absolute;
        top: 45%;
        left: -15px;
        height: 4px;
        width: 4px;
        display: block;
        transform: rotate(45deg);                    
      }

     
      @media(min-width: 1440px) {
        font-size: 14px;
      }
    }
  }
  // &.red{
  //   span{
  //     &.nav__block-top__category{
  //       background-color: #ed5152;
  //     }
  //     &.nav__block-top__single-categ{
  //       color: #ed5152;
  //       &:before{
  //         background-color: #ed5152;
  //       }
  //     }
  //   }
  // }
  // &.blue{
  //   span{
  //     &.nav__block-top__category{
  //       background-color: #2863a7;
  //     }
  //     &.nav__block-top__single-categ{
  //       color: #2863a7;
  //       &:before{
  //         background-color: #2863a7;
  //       }
  //     }
  //   }
  // }
  // &.green{
  //   span{
  //     &.nav__block-top__category{
  //       background-color: #38bb8a;
  //     }
  //     &.nav__block-top__single-categ{
  //       color: #38bb8a;
  //       &:before{
  //         background-color: #38bb8a;
  //       }
  //     }
  //   }
  // }
  // &.yellow{
  //   span{
  //     &.nav__block-top__category{
  //       background-color: #efc066;
  //     }
  //     &.nav__block-top__single-categ{
  //       color: #efc066;
  //       &:before{
  //         background-color: #efc066;
  //       }
  //     }
  //   }
  // }
  // &.salad{
  //   span{
  //     &.nav__block-top__category{
  //       background-color: #3fb6c9;
  //     }
  //     &.nav__block-top__single-categ{
  //       color: #3fb6c9;
  //       &:before{
  //         background-color: #3fb6c9;
  //       }
  //     }
  //   }
  // }
  // &.purple{
  //   span{
  //     &.nav__block-top__category{
  //       background-color: #8c8ce5;
  //     }
  //     &.nav__block-top__single-categ{
  //       color: #8c8ce5;
  //       &:before{
  //         background-color: #8c8ce5;
  //       }
  //     }
  //   }
  // }
}
// End of styles for categories with different colors

// Styles for date and views located on the bottom of blocks
.slider-nav__block-bottom{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  span{
     font-family: 'Merriweather Sans', sans-serif;
     font-size: 12px;
     opacity: 0.35;
     display: flex;
     flex-direction: row;


     &:first-child{
       &:after{
        content: "";
        height: 1px;
        width: 20px;                   
        margin: 7px 7px 0px 7px;
        transform: rotate(-45deg);
        display: block;
        background-color: rgba(255, 255, 255, 1);
       }
     }
  }
}
// End of styles for date and views located on the bottom of blocks

// styles for main link to single
.main-content__block{
  margin: 20px 0;
  transition: transform 0.3s ease;

  img{
    min-height: 230px;
    max-height: 230px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

    @media (min-width: 1440px) {
      min-height: 250px;
      max-height: 250px;
    }
  }

  .slider-nav__block-top{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;         
  }

  h3{
    color: #232323;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.27px;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
  }
  .slider-nav__block-bottom{
  
    span{         
      color: rgba(0, 0, 0, 1);
      font-weight: 700;
      letter-spacing: 0.35px;
      opacity: 0.5;
  
      &:first-child{

        &:after{
    
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
  &:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}
// end styles for main link to single

// styles for btn load more
.btn__more-blocks{
  color: #2863a7;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #2863a7;
  margin: 40px auto;
  max-width: 220px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-self: center;
  position: relative;
  order: 99999999999;

  @media (min-width:$tablet) and (max-width:$desktop) {
    margin: 40px 40%;
  }

}
// End of styles for btn load more

.top-site{
  height: 100%;
  min-height: 600px;
  position: relative;
  margin: 0;

  .top-site__bg {

   position: relative;
    // background: url(/wp-content/themes/cp/images/bg-blur-top-site.jpg) no-repeat top center;
    // background-size: cover;

    margin: auto;
    z-index: 0;
    height: 100%;  

    .top-site__content {
     
      z-index: 9;
      padding-top: 99px;
      height: 100%;
      border-top: 1px solid #707070;
      display: flex;
      flex-direction: column-reverse;
    
      .top-social {
        display: flex;
        height: 100%;        
        width: 100%;        
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        position: relative;
        z-index: 8;
        
    
        li {
         opacity: 0.7;
         transition: opacity .3s ease, transform .3s ease;
          &:hover{
            cursor: pointer;
            opacity: 1;
            transform: scale(1.4);
            transition: opacity .3s ease, transform .3s ease;
          }
          &:nth-child(2) {
            margin:0 30px;

            @media(min-width: $desktop) {
              margin: 30px 0;
            }  
          }
        }
        @media(min-width: $desktop) {
          border-top: 1px solid rgba(255, 255, 255, 0.4);
          max-width: 5%;
          flex-direction: column;
          margin: 0;
        }  
      }
      .top-slider{
        display: flex;                
        width: 100%;

        .slider-nav{                 
          display: none;     
          position: relative;
          z-index: 8;    
 
          .slider-nav__block{  
            display: flex;
            flex-direction: column;
            justify-content: center;        
            padding: 10px 10px 10px 20px;
            height: 100%;                 
            color: #fff;
            transition: background-color 0.3s ease;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            border-right: 1px solid rgba(255, 255, 255, 0.4);

            border-left: 1px solid rgba(255, 255, 255, 0.4);            

         
            .slider-nav__block-center{                         
              p{
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                line-height: 19px;
                color: #fff;


                @media(min-width: 1440px) {
                  font-size: 14px;

                }
              }
            }          
            &:hover{
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.1);
              transition: background-color 0.3s ease;
            }
            &.active-block{
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
          @media(min-width:$desktop) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;              
          }
         }

        .slider-for{      
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;    

        .slider-for__container{
          display: none;
          max-width: 700px;
          padding: 25px 0;

          .slider-for__bg-img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -3;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .slider-nav__block-top{
            display: flex;
            justify-content: center; 
            margin-top: 40px;    
            
            @media (min-width:$desktop) {
              margin-top: 0;
            }
          }

          .slider-for-center{
            font-size: 18px;
            line-height: 36px;
            color: rgba(255, 255, 255, 1);
            font-family: "Montserrat", sans-serif;
            text-align: center;
            max-width: 60%;
            margin: 30px auto;

            @media(min-width:$desktop) {
              max-width: 100%;
              display: block;   
              font-size: 30px;      
              line-height: 46px;     
            }
          }

          .slider-for__text{
            font-family: 'Merriweather Sans', sans-serif;
            color: rgba(255, 255, 255, 1);
            font-size: 15px;
            text-align: center;
            letter-spacing: 0.24px;
            line-height: 30px;
            display: none;
            
            @media(min-width:$desktop) {
              display: block;              
            }
          }

          .slider-nav__block-bottom{
            color: rgba(255, 255, 255, 1);
            justify-content: center;
            margin: 40px 0;
            span{
              opacity: 0.8;
            }           
          }
          .read-more{
            display: flex;
            justify-content: center;
            color: rgba(255, 255, 255, 1);
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            border: rgba(255, 255, 255, 1) 2px solid;
            max-width: 300px;
            margin: 30px auto;
            line-height: 40px;
            border-radius: 25px;
            transition: all 0.3s ease;            
            position: relative;
            
            &:hover{
              box-shadow: 0px 0px 30px 2px rgba(black, 0.7);
            }
          }


          &.content-active{
            display: block;    
            
          }
        }   
        .nav-bar__mobile{
          display: flex;
          max-width: 220px;
          width: 100%;
          justify-content: space-between;

          .nav-bar__prev{
            position: relative;

            span{
              margin-top: 4px;
              height: 3px;
              width: 25px;
              background-color: #fff;
              position: relative;
              display: block;

              &:before {
                content: "";
                background-color: #fff;
                height: 9px;
                width: 3px;
                position: absolute;
                top: 0px;
                left: 0;
                transform: rotate(-45deg);
              }
              &:after {
                content: "";
                background-color: #fff;
                height: 9px;
                width: 3px;
                position: absolute;
                top: -5px;
                left: 0;
                transform: rotate(-135deg);
              }
            }       
            
            &:after{
              content: "";
              display: block;
              position: absolute;
              top: -18px;
              left: -14px;
              height: 50px;
              width: 50px;
            }
          }
          .dots-mobile{
            display: flex;
            flex-direction: row;
            width: 110px;
            justify-content: space-around;
            .dot{
              height: 10px;
              width: 10px;
              border-radius: 50%;
              background-color: #fff;
              transition: all 0.3s ease;
  
              &.dot-active{
                transition: all 0.3s ease;
                width: 30px;
                border-radius: 5px;
                background-color: #2863a7;              
              }
            }
          }
      
          .nav-bar__next{
            position: relative;

            span{
              margin-top: 4px;
              height: 3px;
              width: 25px;
              background-color: #fff;
              position: relative;
              display: block;

              &:before {
                content: "";
                background-color: #fff;
                height: 9px;
                width: 3px;
                position: absolute;
                top: 0px;
                right: 0;
                transform: rotate(45deg);
              }
              &:after {
                content: "";
                background-color: #fff;
                height: 9px;
                width: 3px;
                position: absolute;
                top: -5px;
                right: 0;
                transform: rotate(135deg);
              }
            }        
            
            &:after{
              content: "";
              display: block;
              position: absolute;
              top: -18px;
              right: -14px;
              height: 50px;
              width: 50px;
            }
          }
          @media(min-width: $desktop) {
            display: none;  
          }  
        }  
        @media(min-width: $desktop) {
          flex-direction: row;       
        }  
      }    
      @media(min-width: $desktop) {
        border-top: 1px solid rgba(255, 255, 255, 0.4);      
      }      
    }
    @media(min-width: $desktop) {
      flex-direction: row;
      // max-width: 95%;
    }    
  }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.65);
      z-index: -1;
    }
  }
  @media(min-width: $desktop) {
    height: 100vh;
  }  
}

// next section with article-blocks
.main-content{

  .main_container{
    display: flex;
    padding: 0;    
    margin: 20px 0;
    flex-direction: column;

    .main-left__container{
      display: flex;
      flex-direction: column;

        .blocks-container{
          display: flex;
          flex-wrap: wrap;
          height: fit-content;    
        }       
      }
    .main-right__conteiner{    
      display: flex;
      flex-direction: column;       
      .main__search-block-line{
        margin-top: 60px;
        position: relative;

        input{
          width: 100%;  
          font-family: "Montserrat", sans-serif;
          background-color: transparent;        
          border: 2px solid #e9e9e9;
          height: 40px;
          border-radius: 20px;
          padding-right: 50px;
          padding-left: 8px;
          transition: box-shadow 0.3s ease;
          margin: 0;

          &::placeholder {
            color: #000;
            font-family: "Montserrat", sans-serif;
            opacity: 0.35;
            font-size: 12px;
            letter-spacing: 0.21px;
          }

          &:hover{
            box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
            transition: box-shadow 0.3s ease;
          }
        }

        button{         
          position: absolute;
          top: 4px;
          right: 0;

          span{
            width: 30px;
            border-radius: 17px;
            height: 30px;
            display: flex;      
            flex-direction: column;
            justify-content: center;
            align-items: center;      
            background-color: #2863a7;

            svg{
              width: 1em;
              height: 1em;
            }

            &:hover{
              cursor: pointer;
            }
          }
        }
        @media(min-width: $desktop) {
          margin-top: 20px;
        }
      }
      h2{
        color: #2863a7;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin: 25px 0;
      }
      .main-right__conteiner__blocks{
        display: flex;
        flex-direction: column;

        .main-right__conteiner-article{
          display: flex;
          padding-bottom: 20px;          
          border-bottom: 1px solid #e9e9e9;
          justify-content: space-between;
          margin-bottom: 25px;
          transition: all .5s ease;
          position: relative;

          .conteiner-article-left{
            max-width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
              color: #232323;
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.24px;
              font-weight: 600;
              margin: 0 0 10px 0;

              @media(min-width:$desktop) and (max-width: 1440px) {      
                font-size: 10px;   
                line-height: 17px;
              }
            }
            .slider-nav__block-bottom{
        
              span{         
                color: rgba(0, 0, 0, 1);
                font-weight: 700;
                letter-spacing: 0.35px;
                opacity: 0.5;
                font-size: 12px;
            
                &:first-child{
    
                  &:after{
              
                    background-color: rgba(0, 0, 0, 1);
                  }
                }
                @media(min-width:$desktop) and (max-width: 1440px) {      
                  font-size: 8px;     
                  letter-spacing: normal;
                }
              }
            }
          }
          .conteiner-article-img{
            max-width: 25%;
            // display: none;
            img{
              height: 100%;
              object-fit: cover;
            }
          }

          &:before{
            content: '';
            position: absolute;            
            top: -3px;
            right: -3px;
            bottom: -2px;
            left: -2px;
            border: white solid 2px; 
            border-radius: 6px;
            transition: all 0.3s ease;
            z-index: -20;

          }

          &:hover{                               
            // transition: border .3s ease;
            border-bottom: 1px solid transparent;
            transition: border 0.3s ease;

            &:before{
              top: -10px;
              right: -10px;
              bottom: -10px;
              left: -10px;
              border: #e1e1e1 solid 2px;    
              transition: all 0.3s ease;          
            }
          }
        }
      }
      @media(min-width: $tablet) {    
        margin: 0 auto;
      }      
    }
    @media(min-width: $desktop) {
      flex-direction: row;
      padding: 0 15px;
    }
  }
}
// End of section with article blocks

// Этто Видео блог
.video-block{
 position: relative;
 overflow: hidden;
    .bg-video-block{
      background: url(/wp-content/themes/cp/images/video-bg.png) no-repeat top center;
      filter: blur(5px);
      background-size: cover;
      width: 100%;      
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;

      &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }

      @media (min-width: $desktop) {
        max-height: 800px;
      }
    }
    .video-block__container{      
      display: flex;
      flex-direction: column;
      .video-block__top{
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        h2{
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-size: 22px;
          font-weight: 700;
          display: flex;
          margin-left: 20px;
          flex-direction: column;
          text-align: center;
          max-width: 60%;
          margin-top: 0px;

          &:before{
            content: url(/wp-content/themes/cp/images/red-youtube.png);
            display: block;
            margin-right: 10px;
            padding-top: 2px;
          }
          @media(min-width: $desktop) {    
           flex-direction: row;
           text-align: left;
           max-width: fit-content;
           font-size: 28px;
           margin-top: 20px;
          }  
        }
        a{
          font-size: 12px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          padding: 15px;
          border: 2px solid #ffffff;
          border-radius: 25px;
          position: relative;
          display: flex;
          white-space: nowrap;

        
          @media(min-width: $desktop) {    
            padding: 15px 30px 15px 15px;
            font-size: 14px;

            .right-arrow {
              height: 2px;
              width: 25px;
              background-color: #fff;
              position: relative;
              display: block;
              margin: 7px 0px 0px 15px;
  
              &:before {
                content: "";
                background-color: #fff;
                height: 6px;
                width: 2px;
                position: absolute;
                top: -1px;
                right: 0;
                transform: rotate(45deg);
              }
              &:after {
                content: "";
                background-color: #fff;
                height: 6px;
                width: 2px;
                position: absolute;
                top: -4px;
                right: 0;
                transform: rotate(135deg);
              }
            }
           }  
        }
        @media(min-width: $desktop) {    
          flex-direction: row;
        }  
      }      
  }
}
// Этто был видео блог

// Beginning of about-us section
.about-us{

  .about-us__container{
    display: flex;
    padding: 0 15px;
    margin: 40px 0 30px 0;
    flex-direction: column;

    .about-us__img-block{
      height: fit-content;
      margin: 0 auto;

      img{
        height: 100%;
      }
      
    }
    .about-us__text-block{
      display: flex;
      flex-direction: column;
      .text-block__half-hidden{
        transition: max-height .7s ease;
        max-height: 280px;
        overflow: hidden;
        display: flex;
        box-shadow: inset 0px -109px 78px -74px white;
        .half-hidden__left{
          margin-top: 0;
          position: relative;
          z-index: -1;
          text-align: center;
          h1{
            color: #232323;
            font-weight: 700;
            font-size: 22px;
            line-height: 52px;
            font-family: "Montserrat", sans-serif;

            @media(min-width: $desktop) and (max-width: 1440px) {    
              font-size: 25px;
            }  
            @media(min-width: 1440px) {
              font-size: 36px;
            }
          }
          p{
            color: #232323;
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 0.16px;
            font-size: 14px;
            line-height: 28px;
          
          }
          @media(min-width: $desktop) {    
            text-align: left;
            margin-top: 30px;
          }  
        }
        .half-hidden__right{
          position: relative;
          z-index: -1;
          display: none;
          flex-direction: column;
          align-items: center;
          flex-wrap: nowrap;
          margin-top: 50px;
          span{
            color: #232323;
            font-family: 'Merriweather Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 0.16px;
            font-size: 14px;
            line-height: 30px;
            max-width: 70%;

            &.half-hidden__right-amount{
              color: #2863a7;
              font-size: 54px;
              font-weight: 400;
              line-height: 27px;
              margin-bottom: 20px;   
              
              @media (min-width: $desktop) {
                line-height: 36px;
              }
            }
          }
          p{
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.16px;
            color: #232323;
            opacity: 0.8;
            font-size: 14px;
            line-height: 28px;
            max-width: 70%;
            margin-top: 20px;
          }
          @media(min-width: $desktop) {    
            display: flex;
          }  
        }
        &.heigh-slide{
          max-height: fit-content;
          transition: max-height 0.3s ease;
        }
        &.text-block__half-hidden__open{
          max-height: 100%;
          box-shadow: none;
          transition: max-height 0.5s ease;
        }
      }
      .text-block__btn{
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        .hidden-block__open{
          color: #2863a7;
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          letter-spacing: 0.21px;   
          width: 120px;       
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:hover{
            cursor: pointer;
            text-shadow: #e0e0e0 1px 1px 0, 0px 0px 15px rgba(206,89,55,0);
          }

          @media(min-width: $desktop) {    
            display: flex;
            margin:0px 40px 0px 10px;
          }  
        }
        .hidden-block__about-link{
          background-color: #2863a7;
          padding: 15px 20px;
          border-radius: 25px;
          font-size: 14px;
          font-weight: 600;
    
          @media(min-width: $desktop) {    
            margin-left: 10px;
          }  
        }
        @media(min-width: $desktop) {    
          display: flex;
          justify-content: flex-start;
        }  
      }
    }
    @media(min-width: $desktop) {    
      flex-direction: row;
    } 
    @media(min-width: $desktop) {    
        margin-top: 20px;
    }  
  }
}



.dot-color{
  position: absolute;
  top: 45%;
  left: -15px;
  height: 4px;
  width: 4px;
  display: block;
  transform: rotate(45deg);
}










/* Плеер YouTube */

#video_row{
	display: flex;
	justify-content: space-between;
  align-items: center;	
  flex-direction: column-reverse;
  
  @media (min-width:$desktop) {
    flex-direction: row;
  }
}

#video_row #playlist{
	padding: 0 15px 0 15px;
  width: 90%;
  height: 180px;
  overflow-y: auto;   
  direction: rtl;
  margin-top: 30px;

  @media (min-width: 414px) { 
    height: 225px;
  }


    @media (min-width: $desktop) {
      width: 40%;   
      height: 500px;  
      margin-top: 0;
    }
}

#video_row #ifr{
  width: 90%;  
  margin: 0 auto;

  @media (min-width: $desktop) {
    width: 60%;
    margin: initial;
    padding-right: 30px;
  }
}

#video_row .video-wrap {
	display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
	cursor: pointer;
  transition: color .3s ease;
  flex-direction: row-reverse;
  align-items: center;

  &:last-child{
    margin: 0;
  }
  
  &:hover{   

    .title{
      color: rgba(255, 255, 255, 1);
      transition: color 0.3s ease;      
    }
  }

  @media (min-width: $desktop) {   
    align-items: initial;
    margin: 0 auto 15px auto;
  }
}
#video_row .video-wrap:hover{
	color: #ff2334;
	transition: color .3s ease;
}
#video_row .video {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
#video_row .title {
    text-align: center;
    width: 75%;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s ease;
    line-height: 20px;
    padding: 5px 5px 5px 15px;
    font-weight: 600;

    @media (min-width: 414px) {
      font-size: 14px;
    }

    @media (min-width: 1024px) and (max-width: 1440px) {
      text-align: left;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.6);
    }

    @media (min-width: 1440px) { 
      font-size: 18px;
      color: rgba(255, 255, 255, 0.6);
      text-align: left;
    }
}
.video img {
    width: 100%;
}
#video_row #iframe_video {
    height: 300px;
    width: 100%;

    @media (min-width: $desktop) {
      height: 500px;
    }
}
.linkYouTube{
	display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  
  @media (min-width: $desktop) {
    padding-right: 30px;
    justify-content: flex-end;
    margin: 10px 0;
  }
}
.linkYouTube p{
	margin: 0 35px 0 0;
}
.video_content{
  margin: 20px auto 50px;
}