.page-single{
    background: none;

    .page__container{

        .back{
            color: #000;
            opacity: 0.6;            

            .left-arrow {
             
                background-color: #000;
        

                &:before {
                    
                    background-color: #000;

                }
           
                &:after {
                
                    background-color: #000;
               
                }
            } 
        }

        .top-nav__links{

            a{
                color: #000000;
                opacity: 0.6;
                width: initial;
    
                &:after{
                    background: #000;
                    opacity: 0.6;
                }
            }

            .current{
                text-align: center;
                width: auto;
                text-align: center;

                @media (min-width: $desktop) {
                    text-align: initial;
                }
            }
        }
    }
}

.main-content-article-nav__container{
    // max-width: 930px;
    width: 100%;
    display: flex;    
    margin: 0 auto;
    padding: 0 100px;

    .flex_col-desk--1-4{
        max-width: 200px;
        display: none;

        @media (min-width: $desktop) {
            display: block;
        }
    }

    @media(min-width: 1024px) and (max-width: 1280px) {
        padding-top: 50px;
    }
}

.main-content-article__container{   
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main-content-article{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;   

    p{
        color: #232323;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.18px;
        line-height: 30px;
        font-family: 'Merriweather Sans', sans-serif;

        @media (min-width: $tablet) {
            font-size: 16px;
        }

        @media (min-width: $desktop) {
            font-size: 18px;
        }
    }

    .content-article__block-top{

        .slider-nav__block-top{
            margin: 20px 0 30px;
            justify-content: center;

            @media (min-width: $desktop) {
                justify-content: flex-start;
            }
        }

        h1{
            color: #232323;
            font-size: 28px;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;  
            margin-bottom: 40px;
            text-align: center;

            @media (min-width: $tablet) {               
                font-size: 36px;
            }

            @media (min-width: $desktop) {
                text-align: initial;
                font-size: 42px;
            }
        }      

        .slider-nav__block-bottom{
            margin-bottom: 40px;
            
            span{
                opacity: 0.65;
                font-size: 16px;
            }
        }
    }

    .content-article__img{
        display: flex;
        justify-content: center;

        img{
            object-fit: cover;
        }
    }

    .main-content-article__container{

        .flex_col-desk--1-4{
            max-width: 200px;
            display: none;

            @media (min-width: $desktop) {
                display: block;
            }
         }

        .content-article__main-block{
            display: flex;
            margin-top: 30px;
            flex-direction: column-reverse;

            .article__main-block__left{
                padding-top: 40px;               
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 100%;
                position: relative;

                .author-block{
                    position: sticky;
                    top: 110px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 60px;
                    
                    img{
                        object-fit: contain;  
                        
                        &:last-child{
                            display: none;

                            @media (min-width: $desktop) {
                                display: block;
                             }
                        }                                               
                    }
                   
                    h4{
                        color: #232323;
                        font-family: "Montserrat", sans-serif;  
                        font-size: 20px;
                        font-weight: 700;
                        text-align: center;
                    }

                    span{
                        opacity: 0.45;
                        color: #000000;
                        font-size: 15px;
                        font-weight: 700;
                        font-family: 'Merriweather Sans', sans-serif;
                        letter-spacing: 0.38px;   
                        margin-bottom: 15px;                     
                    }

                    .position{
                        color: #232323;
                        font-family: "Montserrat", sans-serif; 
                        font-weight: 600;
                        letter-spacing: 0.23px;
                        opacity: 1;
                        margin-bottom: 20px;
                    }

                    .author-block__contacts-links{
                        display: flex;
                        justify-content: space-around;
                        width: 60%;
                        margin-top: 20px;                        
                    }         
                    
                    // &:last-child{
                    //     opacity: 0.6;
                    //     display: none;

                    //     @media (min-width: $desktop) {
                    //         display: block;
                    //      }
                    // }

                    @media (min-width: $desktop) {
                        margin-bottom: 0;
                     }
                }

                @media (min-width: $desktop) {
                    max-width: 200px;
                    padding-top: 90px;
                }
            }

            .article__main-block__right{
                display: flex;
                flex-direction: column;
                align-items: center;

                h3{
                    color: #232323;
                    font-size: 22px;
                    font-weight: 700;
                    letter-spacing: 0.33px;
                    font-family: "Montserrat", sans-serif;  
                    text-align: center;
                }

                img{
                    object-fit: cover;
                    width: 100%;
                }               
            }

            @media (min-width: $desktop) {
                flex-direction: row;
            }
        }

        .change-article__block{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            border-top: 2px solid #e8e8e8;
            border-bottom: 2px solid #e8e8e8;

            .change-article__block__link{
                display: flex;
                flex-direction: column;
                border: 2px solid #e8e8e8;
                padding: 20px;
                width: 100%;
                transition: box-shadow 0.3s ease;

                .article__block__link-span{                                              
                    color: #000000;
                    font-size: 15px;
                    font-family: "Montserrat", sans-serif;  
                    line-height: 27px;
                    text-align: center;
                    font-weight: bold;
                    margin: 15px 0;   
                    display: flex;
                    justify-content: center;       

                    
                    span{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 15px;
                    }
                                                      

                    &:first-child{
                        color: #232323;
                        opacity: 0.9;
                        font-family: 'Merriweather Sans', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        margin: 0;

                        span{
                            margin-right: 15px;
                        }
                    }

                    @media (min-width:$tablet) {
                        padding-right: 25px; 
                    }
                }

                .slider-nav__block-bottom{
                    justify-content: center;

                    span{
                        color: #000000;
                        opacity: 0.65;

                        &:after{
                            background-color: #000;
                        }
                    }
                }

                &.article-prev{
                    margin-bottom: 20px;

                    @media (min-width: $tablet) {
                        margin-bottom: 0;
                     }
                }

                &.article-next{

                    .article__block__link-span{

                        &:first-child{
                            padding-left: 20px;
                            padding-right: 0;
                        }
                    }
                }
                &:hover{
                    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
                    transition: box-shadow 0.3s ease;
                }

                @media (min-width: $tablet) {
                    width: 47%;
                 }
            }

            @media (min-width: $tablet) {
                flex-direction: row;
             }
        }

        .contact-article__block{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                font-size: 26px;
                color: #232323;
                font-family: "Montserrat", sans-serif; 
                font-weight: 700;
                margin: 40px 0;
                text-align: center;
            }   
            a{
                color: #ffffff;
                font-weight: 600;
                font-size: 16px;
                background-color: #2863a7;
                padding: 15px 25px;                        
                text-align: center;
                border-radius: 25px;
                margin-bottom: 60px;
                max-width: 200px;
            }        
        }
    }

    @media (min-width: $tablet) {
        padding: 0 60px;
    }

    @media (min-width: $desktop) {
        padding: 0 100px;
    }
}

.bottom-content-article{
    background-color: #f8f8f8;
    padding: 0px 40px 70px;    
    
    h2{
        color: #232323;
        font-size: 26px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif; 
        text-align: center;
    }

    .bottom-content__articles{
        display: flex;      
        flex-wrap: wrap;
    }
}

.user-img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.content-article__main-block{
    width: 100%;
    overflow: hidden;
}


.pdfFile{
    margin: 25px 0;
    color: #000!important;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;

    &:hover{
        color: #2863a7!important;
    }
}