.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  max-height: 100px;
  height: 100%;
  align-items: center;
  visibility: visible;
  padding-left: 10px;
  opacity: 1;
  background: rgba(30, 30, 30, 0.98);
  transition: background 0.3s ease, visibility 0.3s ease,opacity 0.3s ease;

  .header_logo {
    display: flex;
    max-width: 10%;
    width: 100%;
    justify-content: center;
    min-width: 65px;
  }

    .header_nav-bar {
      display: none;
      flex-direction: row;
      max-width: 60%;
      width: 100%;
      justify-content: space-around;

      li {
        // margin: 0 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 11px;

        // font-family: 'Merriweather Sans', sans-serif;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        a{
          transition: opacity 0.3s ease;
        }

        &:hover {
          cursor: pointer;
          a {
            opacity: 0.5;
            transition: opacity 0.3s ease, transform 0.3s ease;
          }
        }        
      @media(min-width: 1440px) {
        font-size: 15px;
      }
      }
      @media(min-width:$desktop) {      
        display: flex;          
      }
    }
   
  

  .header_nav-tools {
    display: flex;
    justify-content: center;
    padding-right: 5px;

    .nav-tools__search {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 15px;
      transition: opacity .3s ease;
      width: 20px;

      &:after {
        content: "";
        width: 20px;
        height: 20px;
        border: #ffffff 2px solid;
        border-radius: 50%;
        transition: all 0.2s ease;
      }

      &:before {
        content: "";
        height: 10px;
        width: 2px;
        background-color: #ffffff;
        transform: rotate(-45deg);
        position: absolute;
        bottom: 10px;
        right: 0;
        border-radius: 2px;
        opacity: 1;
        transition: all 0.2s ease;
      }

      &:hover {
        cursor: pointer;       
      }

      &.nav-tools-close {
        &:after {
          border: none;
          background-color: #ffffff;
          opacity: 1;
          height: 26px;
          width: 2px;
          transform: rotate(45deg);
          transition: all 0.2s ease;
          border-radius: 0;
          position: absolute;
          top: 12px;
          left: 18px;
        }
        &:before {
          height: 25px;
          bottom: 12px;
          transition: all 0.2s ease;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }

    .nav-tools__connect {
      border: 2px solid rgba(256, 256, 256, 0.6);
      border-radius: 25px;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0 25px;
      padding: 0px 10px;      
      transition: background 0.3s ease, color 0.3s ease;

      .nav-tools__connect-text{
        font-family: "Montserrat", sans-serif;
        font-size: 14px;   
        display: none; 

        @media(min-width:$desktop) {      
          display: block;
         }
      }

      .nav-tools__connect-icon{
        display: block;

        span{
          display: flex;
        }

        @media(min-width:$desktop) {      
          display: none;
         }
      }

      &:hover {
        color: #000;
        background: #fff;        
        transition: background 0.3s ease, color 0.3s ease;
      }

      @media(min-width:$desktop) {
        border: 2px solid rgba(256, 256, 256, 1);
        margin: 0 25px;
      }      
    }

    .nav-tools__burger {
      display: block;
      margin: auto 0;
      position: relative;
      width: 45px;
      height: 45px;

      span {
        width: 75%;
        height: 3px;
        background-color: #fff;
        display: block;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease, margin 0.3s ease;
        transition: opacity 0.3s ease, margin 0.3s ease;
        border-radius: 2px;
        margin: 10px 0px 10px 23%;
      }
      &:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        display: block;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        border-radius: 2px;
      }
      &:before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        display: block;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        border-radius: 2px;
      }

      &:hover {
        cursor: pointer;
      }

      &.nav-tools__burger-open {
        span {
          opacity: 0;
          margin: 0;
          transition: opacity 0.3s ease, margin 0.3s ease;
        }
        &:after {
          transform: rotate(45deg);
          transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        }
        &:before {
          transform: rotate(-45deg);
          transition: transform 0.3s ease, -webkit-transform 0.3s ease;
          margin-bottom: -5px;
        }
      }    
    }
    @media(min-width:1440px) {      
     padding-right: 40px;
    }
  }
  &.transparent-header {
    background: transparent;
    transition: background 0.3s ease;
  }
  &.header-visibility-none{
    visibility:hidden;
    opacity:0;
    transition: background 0.3s ease, visibility 0.3s ease,opacity 0.3s ease;
  }
}


.header_nav-bar{
  .children{
    display: none;
  }
}